<h1>{{title}}</h1>

<div>
    <a href="/" class="third after">Home</a>
    <a href="/weather" class="third after">Weather</a>
    <a href="/news" class="third after">News</a>
    <a href="/about" class="third after">About</a>
    <a href="/help" class="third after">Help</a>
</div>